!!!
%head
	%link{rel: 'stylesheet', href: 'bootstrap/css/bootstrap.min.css'}
	%link{rel: 'stylesheet', href: "stylesheets/bootstrap-sortable.css" }
	%script{src: 'javascripts/jquery.js'}
	%script{src: 'bootstrap/js/bootstrap.min.js' }
	%script
		= CoffeeScript.compile File.read(settings.root + "/public/coffeescripts/application.coffee")
%body
	=yield
