!!!
%head
	%link{rel: 'stylesheet', href: '/bootstrap/css/bootstrap.min.css'}
	%link{rel: 'stylesheet', href: "/stylesheets/bootstrap-sortable.css" }
	%script{src: '/javascripts/jquery.js'}
	%script{src: '/bootstrap/js/bootstrap.min.js' }
	%script{src: '/javascripts/bootstrap-sortable.js'}
	%script{src: '/javascripts/underscore.js'}
	%script
		= CoffeeScript.compile File.read(settings.root + "/public/coffeescripts/application.coffee")
%body
	%header
		.container
			%nav.navbar
				.navbar-inner
					%span.brand
						Country Standardizer
					%ul.nav
						%li
							%a{href: "/"}
								Home
						%li
							%a{href: "/countries"}
								Countries
						%li.dropdown
							%a{href: "#", class: "dropdown-toggle", "data-toggle" => "dropdown"}
								Downloads
								%b.caret
							%ul.dropdown-menu
								%li
									%a{href: "/country_codes_csv"}
										Country Codes (CSV copy of this database)
								%li
									%a{href: "/data/sources.zip"}
										Source CSVs (ZIP file)
						%li.dropdown
							%a.dropdown-toggle{"data-toggle" => "dropdown"}
								API
								%b.caret
							.dropdown-menu{style: "padding:8px;"}
								%p
									Make a 
									%tt 
										GET
									request with a
									%tt
										name
									parameter to 
									%tt
										= "/standardize"

									, for example, to standardize "Congo":
									%a{href: "/standardize?name=Congo"}
										name=congo
									= "."
								%p
									Returns a JSON array of country objects.
	=yield
